@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
h1{
    font-family: "Alfa Slab One";
    text-align: center;
    font-size: 70px;
    color: rgb(198, 96, 201);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}